#cloud-config
system_info:
  default_user:
    name: ubuntu
    home: /home/ubuntu

password: {{ .Password }}
chpasswd: { expire: False }
hostname: {{ .Hostname }}

# 配置 sshd 允许使用密码登录
ssh_pwauth: True

ssh_authorized_keys:
  - {{ .PublicKey }}
