#cloud-config
system_info:
  default_user:
    name: root
    home: /root

password: {{ .Password }}
chpasswd: { expire: False }
hostname: {{ .Hostname }}

disable_root: false

# 配置 sshd 允许使用密码登录
ssh_pwauth: True

{{if .PublicKey}}
ssh_authorized_keys:
  - {{ .PublicKey }}
{{end}}


write_files:
  - path: /etc/node-exporter/docker-compose.yml
    content: |
{{ .PrometheusDockerCompose | indent 6}}
{{if .DockerCompose}}
  - path: /etc/compute-share/docker-compose.yml
    content: |
{{ .DockerCompose | indent 6}}
{{end}}

runcmd:
  - curl -fsSL https://get.docker.com | bash -s docker  --mirror Aliyun
  - usermod -aG docker ubuntu
  - docker compose -f /etc/node-exporter/docker-compose.yml up -d
{{if .DockerCompose}}
  - docker compose -f /etc/compute-share/docker-compose.yml up -d
{{end}}
