---
version: '3.8'

services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'

  prometheus_sidecar:
    image: curlimages/curl:8.4.0
    network_mode: host
    command: |
      /bin/sh -c '
        while true; do
          curl -s http://127.0.0.1:9100/metrics |  curl -i --data-binary @- http://computeshare.newtouch.com:9091/metrics/job/node/instance/{{ .InstanceId}}
          sleep 15s
        done
